In [1]:
import pandas as pd

In [2]:
# Mapping lets you format an entire DataFrame
file = "Data/duke_energy_2010.csv"
file_df = pd.read_csv(file)
file_df.head()

,SAMPLE_ID,SAMPLE_ENERGY,SAMPLE_USAGE,SAMPLE_REVENUE,SAMPLE_HHAGE,SAMPLE_INC,SAMPLE_REGION,SAMPLE_ACCOUNT_ACTIVATION_DATE,SAMPLE_MAILING_ADDRESS,SAMPLE_MAILING_CITY,...,highenergyproblem,futurelifeconcern,ccreal,scarce,nuclear,solar,wind,muchasican,futurepower,phev
0,40414551,21156,1763.000000,3141.989990,6,7,SOUTH COASTAL,0,502 WHITE OAK DR,TARPON SPGS,...,10.0,9.0,10.0,10.0,10.0,10.0,10.0,7.0,9.0,9.0
1,40418276,3952,329.329987,586.179993,5,6,SOUTH COASTAL,0,10141 BRIAR CIR,HUDSON,...,10.0,10.0,10.0,9.0,1.0,10.0,10.0,9.0,5.0,4.0
2,40409966,19189,1599.079956,2664.229980,6,7,SOUTH CENTRAL,0,530 VISTA OAKS WAY,DAVENPORT,...,10.0,10.0,2.0,10.0,10.0,8.0,8.0,6.0,8.0,10.0
3,40410026,16647,1387.250000,2145.000000,5,6,SOUTH CENTRAL,0,2315 AVALON RD,SEBRING,...,9.0,9.0,1.0,6.0,9.0,9.0,7.0,4.0,4.0,5.0
4,30312281,10374,864.500000,1359.869995,7,3,SOUTH CENTRAL,0,3513 INDIAN SUMMER TRL,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
list(file_df.columns)

['SAMPLE_ID',
 'SAMPLE_ENERGY',
 'SAMPLE_USAGE',
 'SAMPLE_REVENUE',
 'SAMPLE_HHAGE',
 'SAMPLE_INC',
 'SAMPLE_REGION',
 'SAMPLE_ACCOUNT_ACTIVATION_DATE',
 'SAMPLE_MAILING_ADDRESS',
 'SAMPLE_MAILING_CITY',
 'SAMPLE_MAILING_STATE',
 'SAMPLE_MAILING_ZIP',
 'SAMPLE_PRIMARY_PHONE',
 'SAMPLE_SECONDARY_PHONE',
 'SAMPLE_PREMISE_ADDRESS',
 'SAMPLE_PREMISE_CITY',
 'SAMPLE_PREMISE_STATE',
 'SAMPLE_PREMISE_ZIP',
 'SAMPLE_PREMISE_COUNTY',
 'SAMPLE_MONTHS',
 'SAMPLE_DWELLING',
 'SAMPLE_FAMCOMP',
 'SAMPLE_HHADULTS',
 'SAMPLE_HHCHILDS',
 'SAMPLE_HHPEOPLE',
 'SAMPLE_HOMEOWN',
 'SAMPLE_HISPANIC',
 'SAMPLE_ADDRYEAR',
 'SAMPLE_BALANCED_BILL',
 'SAMPLE_BANKDRAFT',
 'SAMPLE_CONSDISC',
 'SAMPLE_EBILL',
 'SAMPLE_EQUAL_PAY',
 'SAMPLE_HMW',
 'SAMPLE_SURGE',
 'SAMPLE_TOU',
 'SAMPLE_WATERHEATER',
 'SAMPLE_LOADCONTROL',
 'SAMPLE_AUDIT',
 'SAMPLE_CELL',
 'SAMPLE_VER_NUM',
 'SAMPLE_RDM_ID',
 'SAMPLE_RDM_',
 'SAMPLE_SRC_STRM',
 'SAMPLE_EFT',
 'SAMPLE_RES_AUDITS',
 'SAMPLE_BUDGETBILL',
 'SAMPLE_HMW_DELUX',
 'SAMPLE_DUCTREPAIR',
 'SAMPLE_INSULATION',
 'annkwh',
 'envprotection',
 'windpriority',
 'costpriority',
 'comfortpriority',
 'takensteps',
 'CFL',
 'hiwebuse',
 'acage',
 'heatage',
 'numberkids',
 'hhsize',
 'yearbuilt',
 'ccisreal',
 'protectfuture',
 'recycling',
 'redHHenergy',
 'allshouldconserve',
 'WEIGHT',
 'HICFL',
 'hisocnet',
 'facebook',
 'income',
 'lnkwh',
 'educ',
 '_est_restricted1',
 '_est_restricted2',
 'age',
 'yhat_p',
 'xbeta',
 'lambda',
 'yhat_nb',
 'xbetanb',
 'lambdanb',
 'male',
 'maleold',
 'maleold2',
 'probehavior',
 'climateworry',
 'futuregenimportant',
 'envprotveryimportant',
 'renewablesvimportant',
 'hisocnet2',
 'phat9',
 'educgradesch',
 'educsomehigh',
 'educhigh',
 'educsomecoll',
 'educcoll',
 'educpostgrad',
 'income20',
 'income49',
 'income75',
 'income100',
 'income150',
 'income150plus',
 'incomenonreport',
 'green',
 'numtvscomputers',
 'livingspace',
 'payattn',
 'considerproduct',
 'veryhotdays',
 'myright',
 'mycellphone',
 'firstone',
 'conscientiousrecycle',
 'reduceenergy',
 'realeffort',
 'willingchanges',
 'highenergyproblem',
 'futurelifeconcern',
 'ccreal',
 'scarce',
 'nuclear',
 'solar',
 'wind',
 'muchasican',
 'futurepower',
 'phev']

In [9]:
energy_subset=file_df[["SAMPLE_USAGE","SAMPLE_PREMISE_ZIP"]]

energy_subset_copy = energy_subset.copy()
energy_subset_copy["zipcode"]=energy_subset["SAMPLE_PREMISE_ZIP"].astype(str)
energy_subset_copy.head(15)

    SAMPLE_USAGE  SAMPLE_PREMISE_ZIP    zipcode
0    1763.000000               34689      34689
1     329.329987               34653      34653
2    1599.079956               33837      33837
3    1387.250000               33870      33870
4     864.500000               33872      33872
5     100.919998               33844      33844
6    1205.170044               34639      34639
7    1282.000000               33774      33774
8    1449.829956               33710      33710
9     523.669983               33761      33761
10   2261.919922           295502702  295502702
11   2725.250000               34639      34639
12   1661.829956               33761      33761
13    816.830017               33778      33778
14    142.080002               33542      33542

In [19]:
energy_subset_copy2 = energy_subset_copy.copy()

for row in range(0,len(energy_subset_copy["zipcode"].astype(str))):
    if len(energy_subset_copy["zipcode"].astype(str)) > 5:
       energy_subset_copy2["zipcode"][row] = energy_subset_copy["zipcode"][row][:5]
    else:
       energy_subset_copy2["zipcode"][row] = energy_subset_copy["zipcode"][row]

C:\Users\tmason\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [20]:
energy_subset_copy2.head(10000)

      SAMPLE_USAGE  SAMPLE_PREMISE_ZIP zipcode
0      1763.000000               34689   34689
1       329.329987               34653   34653
2      1599.079956               33837   33837
3      1387.250000               33870   33870
4       864.500000               33872   33872
5       100.919998               33844   33844
6      1205.170044               34639   34639
7      1282.000000               33774   33774
8      1449.829956               33710   33710
9       523.669983               33761   33761
10     2261.919922           295502702   29550
11     2725.250000               34639   34639
12     1661.829956               33761   33761
13      816.830017               33778   33778
14      142.080002               33542   33542
15     1125.000000               32792   32792
16     1372.420044               33703   33703
17     2182.830078               33765   33765
18      961.559998               34748   34748
19      541.250000               33710   33710
20     2138.750000               34683   34683
21     1088.420044           283793772   28379
22     1488.829956               33771   33771
23      432.500000           284053509   28405
24      794.080017           285125707   28512
25     1681.420044               33708   33708
26      672.330017               33756   33756
27      715.000000           283669034   28366
28     1083.500000           295015402   29501
29      271.920013           295747283   29574
...            ...                 ...     ...
4675   1273.829956           278568121   27856
4676   2602.199951               32713   32713
4677    344.420013               34432   34432
4678   1573.500000           284120954   28412
4679   1136.579956           285169702   28516
4680    999.500000           285403751   28540
4681   1296.670044               32810   32810
4682   1784.250000           276109269   27610
4683    421.079987           273068463   27306
4684   1451.920044               34786   34786
4685   1000.669983           283839603   28383
4686   1621.670044           275969767   27596
4687   1354.000000           287866833   28786
4688   1251.829956           295566761   29556
4689    944.830017           273798201   27379
4690   1820.329956               32828   32828
4691    483.250000               32837   32837
4692   1194.579956               32195   32195
4693    271.000000               34481   34481
4694   1501.920044           283141600   28314
4695   2213.669922               32708   32708
4696   1141.500000           284530000   28453
4697   1263.750000           295066813   29506
4698   1904.670044               32712   32712
4699    422.079987               32701   32701
4700   1563.750000           272036133   27203
4701   1217.829956           276152319   27615
4702    965.330017           276100000   27610
4703   1575.750000           295604259   29560
4704    518.830017           283068448   28306

[4705 rows x 3 columns]